.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}


.content {
  max-width: 544px;
}
.content h1 {
  padding: 16px 0;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}

.content h2 {
  padding: 16px 0;
  font-size: 24px;
  text-align: center;
}

.content hr {
  width: 100%;
  background: #343434;
}